* {
    margin: 0;
    font-family: Arial;
    border: border-box;
 }
 .navbar{
     height: 60px;
     background-color: #0f1111;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
    
 }
 .logo{
     height: 60px;
     width: 100px;
 }
 .navlogo{
     background-image: url(amazon_logo.png);
     background-size: cover;
     height: 50px;
     width: 100%;
 
 }
 .border{
     border: 2px solid transparent;
 }
 .border:hover{
     border: 2px solid white;
 }
 /* box2 */
 .add-icon{
     display:flex;
     align-items: center;
     
 }
 .first{
     color: #cccccc;
     font-size: 12px;
     margin-left: 15px;
 
 }
 .second{
     font-size: 14px;
     margin-left: 3px;
     }
 /* box3 */
 .nav-search{
     display: flex;
     justify-content: space-evenly;
     background-color: pink;
     width: 620px;
     height: 40px;
     border-radius: 5px;
 }
 /* .search-icon{
     background-color: rgb(243, 193, 10);
 } */
 .select-search{
     background-color: #f3f3f3;
     width: 50px;
     text-align: center;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
     border: none;
 }
 .search-input{
     width: 100%;
     font-size: 1rem;
     border: none;
     
 }
 .search-icon{
     width: 45px;
     background-color: rgb(154, 98, 28);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     border-top-right-radius:3px;
     border-bottom-right-radius:3px;
     
     color: #0f1111;
 }
 .nav-search border:hover{
     border:2px solid orange;
 }
 /* box4 */
 spam{
     font-size: 8px;
 }
 .nav-second{
     font-size: 14px;
     font-weight: 700;
 }
 /* box5 */
 .cart i{
     font-size: 30px;
 }
 .cart{
     font-size: 1rem;
     font-weight: 700;
 }
 /* panel */
 .panel{
     height: 40px;
     background-color:rgb(2, 2, 48);
     color: white;
     display: flex;
      align-items: center;
     justify-content: space-evenly; 
 }
 .panel-All{
     width: 50px;
 }
 .panel-option p{
     
    display: inline;
    margin-left: 15px;
  }
 .panel-option {
     width: 900px;
     font-size: 0.85rem;
 }
 .panel-deal{
     font-size: 0.9rem;
     font-weight: 700;
 }
 /* hero */
 .select-hero{
     background-image:url(hero_image.jpg);
     height: 350px;
     background-size: cover;
     justify-content: center;
    align-items: flex-end;
 }
 .hero-mess{
     height: 30px;
     background-color: #f3f3f3;
     color: #0f1111;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 0.85rem;
     
 }
 .hero-mess a{
     color: #838fcb;
 }
 /* shoping */
 .shoping{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: #e2e7e6;
 }
 .box{
     height: 400px;
     width: 23%;
     background-color: white;
     padding: 20px 0px 15px;
     margin-top: 15px;
 }
 .box-img{
     height: 300px;
     
     margin-top: 5px;
     marker-end: 5px;
     background-size: cover;
 }
 .box-content{
     margin-left: 10px;
     margin-right: 10px;
 }
 .box-content p{
     color:#0a24b8f4 ;
 }
/* footer  */
footer{
    margin-top: 30px;
}
.foot-panel1{
    background-color: #05114b;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot-panel2{

    background-color: #838fcb;
    color: white;
    height: 400px;
    display: flex;
   justify-content: space-evenly;
}
ul p{
    color: black;
    font-size: 1rem;
    font-weight: 800;
}
ul a{
    display: block;
    
}
ul{
    margin-top: 30px;
}